<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <p>This app was created by CrispPoatato. It uses the weather api to fetch the current weather of a location.</p>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/potato.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>